{% extends 'base_clientSide.html.twig' %}

{% block body %}


<section class="youplay-banner banner-top youplay-banner-parallax small">
    
        <div class="image" data-speed="0.4">
            <img src="/images/banner-bg.jpg" alt="" class="jarallax-img">
        </div>
    

    <div class="info">
        <div>
            <div class="container">
                
                
                
                
                
            </div>
        </div>
    </div>
</section>

    
    <div class="info">
        <div>
            <div class="container">
                
                
                
                    
    <div class="youplay-login">
        <div class="youplay-form text-center">
            <h1>Payment Success </h1>

       
        </div>
    </div>

                
                
            </div>
        </div>
    </div>
{% endblock %}