{% extends 'base_clientSide.html.twig' %}


{% block title %}Modifier Cours{% endblock %}

{% block body %}



    <div class="col-md-10" align="center">
        <h1>Modifier Cours </h1>

    {{ include('cour/_formCaptcha.html.twig', {'button_label': 'Update'}) }}
        <div><a href="{{ path('cour_index') }}">back to list</a></div>


    {{ include('cour/_delete_form.html.twig') }}


    </div>

{% endblock %}
