{% extends 'base_coach.html.twig' %}

{% block title %}New Cours{% endblock %}

{% block body %}
    <div class="col-md-10" align="center">
        <h1>Créer un nouveau cours</h1>


        {{ include('cour/_formCaptcha.html.twig') }}


        <a href="{{ path('cour_index_admin') }}">back to list</a>


    </div>
{% endblock %}
