
<!DOCTYPE html>
<!--
    Name: Youplay - Game Template based on Bootstrap
    Version: 3.3.0
    Author: nK
    Website: https://nkdev.info/
    Purchase: https://themeforest.net/item/youplay-game-template-based-on-bootstrap/11306207?ref=_nK
    Support: https://nk.ticksy.com/
    License: You must have a valid license purchased only from ThemeForest (the above link) in order to legally use the theme for your project.
    Copyright 2018.
-->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GamingRoom | Store</title>

    <meta name="description" content="Youplay - Gaming HTML Template based on Bootstrap">
    <meta name="keywords" content="gaming, game, community, template, html, bootstrap, webpack">
    <meta name="author" content="nK">

    <link rel="icon" type="image/png" href="front/images/dark/icon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="front/vendor/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Flickity -->
    <link rel="stylesheet" href="front/vendor/flickity/dist/flickity.min.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="front/vendor/magnific-popup/dist/magnific-popup.css" />

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="front/vendor/slider-revolution/css/settings.css">
    <link rel="stylesheet" href="front/vendor/slider-revolution/css/layers.css">
    <link rel="stylesheet" href="front/vendor/slider-revolution/css/navigation.css">

    <!-- Bootstrap Sweetalert -->
    <link rel="stylesheet" href="front/vendor/bootstrap-sweetalert/dist/sweetalert.css" />

    <!-- Social Likes -->
    <link rel="stylesheet" href="front/vendor/social-likes/dist/social-likes_flat.css" />

    <!-- FontAwesome -->
    <script defer src="front/vendor/font-awesome/svg-with-js/js/fontawesome-all.min.js"></script>
    <script defer src="front/vendor/font-awesome/svg-with-js/js/fa-v4-shims.min.js"></script>

    <!-- Youplay -->
    <link rel="stylesheet" href="front/css/youplay.css">

    <!-- RTL (uncomment this to enable RTL support) -->
    <!-- <link rel="stylesheet" href="assets/css/youplay-rtl.min.css" /> -->

    <!-- Custom Styles -->
    <link rel="stylesheet" href="front/css/custom.css">

    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="front/vendor/jquery/dist/jquery.min.js"></script>


</head>


<body>

        {% include 'base_header.html.twig' %}




<!-- Slider Revolution -->
<div class="rev_slider_wrapper rs-youplay rs-fullscreen">
    <div class="rev_slider" data-version="5.4.6.4">
        <ul>
            <!-- SLIDE NR. 1  -->
            <li data-index="rs-1" data-thumb="assets/images/demo-dark.jpg"  data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="assets/images/demo-dark.jpg"  alt="" data-lazyload="assets/images/demo-dark.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="-80"

                     data-customin="x:200;scaleX:0.5;scaleY:0.5;"
                     data-customout="x:0;scaleX:1;scaleY:1;"

                     data-frames='[{"from":"opacity:0;y:-10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="80"

                     data-frames='[{"from":"opacity:0;y:10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>
            </li>

            <!-- SLIDE NR. 2  -->
            <li data-index="rs-2" data-thumb="assets/images/demo-dark.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="assets/images/demo-dark.jpg"  alt="" data-lazyload="assets/images/demo-dark.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="-65"

                     data-frames='[{"from":"opacity:0;y:-10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="65"

                     data-frames='[{"from":"opacity:0;y:10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>
            </li>

            <!-- SLIDE NR. 3  -->
            <li data-index="rs-3" data-thumb="assets/images/demo-dark.jpg" data-saveperformance="on" data-transition="random-static" data-slotamount="7" data-masterspeed="700">
                <!-- MAIN IMAGE -->
                <img src="assets/images/dark/dummy.png"  alt="" data-lazyload="assets/images/demo-dark.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="-80"

                     data-frames='[{"from":"opacity:0;y:-10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption customin customout"
                     data-x="left"
                     data-hoffset="60"

                     data-y="center"
                     data-voffset="80"

                     data-frames='[{"from":"opacity:0;y:10","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
                >

                </div>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</div>
<!-- /Slider Revolution-->


<div class="content-wrap no-banner">



    <div class="container youplay-store store-grid mt-0">

        <!-- Games List -->
        <div class="col-md-9 isotope">
            <!-- Sort Categories -->
            <ul class="pagination isotope-options">
                <li data-filter="all" class="active"><span>All</span></li>
                <li data-filter="free"><span>Free</span></li>
                <li data-filter="popular"><span>Popular</span></li>
                <li data-filter="specials"><span>Specials</span></li>
                <li data-filter="upcoming"><span>Upcoming</span></li>
            </ul>
            <!-- /Sort Categories -->

            <div class="isotope-list row vertical-gutter">

                <!-- Single Product Block -->

                <div class="side-block">
                    <h4 class="block-title">Popular Games</h4>
                    <div class="block-content p-0">
                        {% block pro %}
                        <!-- Single News Block -->
                        <div class="row youplay-side-news">
                            <div class="col-xs-3 col-md-4">
                                <a href="store-product-1.html" class="angled-img">
                                    <div class="img">
                                        <img src="assets/images/dark/game-bloodborne-500x375.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                            <div class="col-xs-9 col-md-8">
                                <h4 class="ellipsis"><a href="store-product-1.html" title="Bloodborne">Bloodborne</a></h4>
                                <span class="price">$50.00</span>
                            </div>
                        </div>

                    </div>
                </div>
                {% endblock %}

            </div>

        </div>
        <!-- /Games List -->

        <!-- Right Side -->

            <!-- /Side Search -->

            <!-- Side Categories -->
            <div class="side-block">
                <h4 class="block-title">Categories</h4>
                <ul class="block-content">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Casual</a></li>
                    <li><a href="#">Indie</a></li>
                    <li><a href="#">Racing</a></li>
                    <li><a href="#">RPG</a></li>
                    <li><a href="#">Simulation</a></li>
                    <li><a href="#">Strategy</a></li>
                </ul>
            </div>
            <!-- /Side Categories -->

            <!-- Side Popular News -->

            <!-- /Side Popular News -->

            <!-- Instagram -->
            <div class="side-block">


            <!-- /Instagram -->

        </div>
        <!-- /Right Side -->
    </div>



    <!-- Footer -->
    <footer class="youplay-footer youplay-footer-parallax">

        <div class="image" data-speed="0.4" data-img-position="50% 0%">
            <img src="assets/images/demo-dark.jpg" alt="" class="jarallax-img">
        </div>


        <div class="wrapper">




            <!-- Social Buttons -->

            <!-- /Social Buttons -->



            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <p>2021 &copy; <strong>GamingRoom</strong>. All rights reserved</p>
                </div>
            </div>
            <!-- /Copyright -->

        </div>
    </footer>
    <!-- /Footer -->


</div>



        {% include 'base_footer.html.twig' %}

<!-- Search Block -->
<div class="search-block">
    <a href="#" class="search-toggle">
        <i class="fa fa-times"></i>
    </a>
    <form action="search.html">
        <div class="youplay-input">
            <input type="text" name="search" placeholder="Search...">
        </div>
    </form>
</div>
<!-- /Search Block -->




<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- jQuery -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>

<!-- Hexagon Progress -->
<script src="assets/vendor/HexagonProgress/jquery.hexagonprogress.min.js"></script>

<!-- Bootstrap -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Jarallax -->
<script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>

<!-- Flickity -->
<script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- jQuery Countdown -->
<script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>

<!-- Moment.js -->
<script src="assets/vendor/moment/min/moment.min.js"></script>
<script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Magnific Popup -->
<script src="assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

<!-- Revolution Slider -->
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

<!-- ImagesLoaded -->
<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Isotope -->
<script src="assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>

<!-- Bootstrap Validator -->
<script src="assets/vendor/bootstrap-validator/dist/validator.min.js"></script>

<!-- Bootstrap Sweetalert -->
<script src="assets/vendor/bootstrap-sweetalert/dist/sweetalert.min.js"></script>

<!-- Social Likes -->
<script src="assets/vendor/social-likes/dist/social-likes.min.js"></script>

<!-- Youplay -->
<script src="assets/js/youplay.min.js"></script>
<script src="assets/js/youplay-init.js"></script>



<!-- END: Scripts -->



</body>
</html>
