  
            <!-- Footer -->
<footer class="youplay-footer youplay-footer-parallax">
    
        <div class="image" data-speed="0.4" data-img-position="50% 0%">
            <img src="{{asset('assets/images/dark/login2.png')}}" alt="" class="jarallax-img">
        </div>
    

    <div class="wrapper">

        

        
            <!-- Social Buttons -->
            <div class="social">
                <div class="container">
                    <h3>Connect socially with <strong>GamingRoom</strong></h3>

                    <div class="social-icons">
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-discord"></i>
                                <span>Subscribe to Discord</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-twitch"></i>
                                <span>Watch on Twitch</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                                <span>Watch on Youtube</span>
                            </a>
                        </div>
                        <div class="social-icon">
                            <a href="#">
                                <i class="fab fa-twitter-square"></i>
                                <span>Follow on Twitter</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Social Buttons -->
        

        
            <!-- Copyright -->
            <div class="copyright">
                <div class="container">
                    <p>2021 &copy; <strong>GamingRoom</strong>. All rights reserved</p>
                </div>
            </div>
            <!-- /Copyright -->
        
    </div>
</footer>
<!-- /Footer -->

        
    </div>

    

    
        <!-- Search Block -->
<div class="search-block">
    <a href="#" class="search-toggle">
        <i class="fa fa-times"></i>
    </a>
    <form action="{{ path('Search') }}" method="POST">
        <div class="youplay-input">
            <input type="text" name="search" placeholder="Search...">
        </div>
    </form>
</div>
