{% extends 'base_admin.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Modifier Catégorie</h3>
    </div>

    <div class="card-body">

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
</div>
    <a href="{{ path('categorie_index') }}">back to list</a>


{% endblock %}
