{% extends 'base.html.twig' %}

{% block title %}CategoriMembre index{% endblock %}

{% block body %}
    <h1>CategoriMembre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categori_membre in categori_membres %}
            <tr>
                <td>{{ categori_membre.id }}</td>

                <td>
                    <a href="{{ path('categori_membre_show', {'id': categori_membre.id}) }}">show</a>
                    <a href="{{ path('categori_membre_edit', {'id': categori_membre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categori_membre_new') }}">Create new</a>
{% endblock %}
